:root {
  --heading-font-family: new-spirit, serif;
  --heading-font-style: light;
  --heading-font-weight: 300;
  --text-colour-light: #f6f0eb;
}
@font-face {
  font-family: new-spirit;
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Light.otf);
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Regular.otf);
}

body {
  background: #6a86d0;
  color: var(--text-colour-light);
  text-align: center;
}

h1 {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
}

.home-menu {
  margin: 100px;
}

.small-link {
  color: var(--text-colour-light);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.contact-menu {
  text-align: center;
  max-width: 393px !important;
  margin: 0 auto;
  padding: 10px 30px;
}
