@font-face {
  font-family: new-spirit;
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Light.otf);
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Regular.otf);
}

:root {
  --heading-font-family: new-spirit, serif;
  --heading-font-style: light;
  --heading-font-weight: 300;
  --text-colour-light: #f6f0eb;
  --link-text-hover-dark: #1b0064;

  --body-font-family: "Poppins", sans-serif;
}

/* Home Page CSS */

.home-page {
  background-color: #6a86d0 !important;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.blog-page {
  background-color: #f6f0eb !important;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-size: 15px !important;
  text-align: center;
}

/* Home Page CSS */

.menu-link {
  font-family: var(--heading-font-family) !important;
  font-style: var(--heading-font-style) !important;
  font-weight: var(--heading-font-weight) !important;
  color: var(--text-colour-light);
  text-align: center;
  font-size: 80px;
}

.menu-link:hover {
  font-family: var(--heading-font-family) !important;
  font-style: var(--heading-font-style) !important;
  font-weight: var(--heading-font-weight) !important;
  color: var(--link-text-hover-dark);
  text-align: center;
}

.home-menu {
  color: var(--text-colour-light);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-link {
  color: var(--text-colour-light);
  font-family: var(--body-font-family);
}

/* Navigation Bar CSS */

.nav-bar {
  max-height: 50px;
}

.nav-link {
  color: var(--text-colour-light);
  font-family: var(--heading-font-family);
  color: #102362;
  padding: 0px 30px !important;
}

.nav-link:hover {
  font-family: var(--heading-font-family);
  color: #b194bf !important;
  padding: 0px 30px !important;
}

.contact-menu {
  margin: 0 auto;
  padding: 30px 30px;
  size: 50px;
}

.menu-nav {
  padding: 30px 30px;
  max-width: 396px;
}

/* About Page CSS */

.about-page {
  background-color: #e5edc4 !important;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.about-section {
  max-width: 1480px;
  max-height: 570px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headshot {
  max-width: 373px;
  max-height: 420px;
}

.about-header {
  text-align: start;
  padding-left: 100px;
}

.about-text {
  font-family: var(--body-font-family);
  text-align: start;
  max-width: 660px;
  padding-top: 30px;
  padding-left: 100px;
}

/* Blog Page CSS */

/* Studio Page CSS */
.studio-page {
  background-color: #ec9831 !important;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.studio-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soon-message {
  font-family: var(--heading-font-family);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
