@font-face {
  font-family: new-spirit;
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Light.otf);
  src: url(https://github.com/bkhunou/website/blob/main/style/New%20Spirit%20Regular.otf);
}

:root {
  --heading-font-family: new-spirit, serif;
  --heading-font-style: light;
  --heading-font-weight: 300;
  --text-colour-light: #f6f0eb;
  --link-text-hover-dark: #1b0064;
}

body {
  background-color: #6a86d0 !important;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-size: 15px !important;
  text-align: center;
}

h3:hover {
  color: var(--text-colour-light);
}

.menu-link {
  font-family: var(--heading-font-family) !important;
  font-style: var(--heading-font-style) !important;
  font-weight: var(--heading-font-weight) !important;
  color: var(--text-colour-light);
  text-align: center;
  font-size: 80px;
}

.menu-link:hover {
  font-family: var(--heading-font-family) !important;
  font-style: var(--heading-font-style) !important;
  font-weight: var(--heading-font-weight) !important;
  color: var(--link-text-hover-dark);
  text-align: center;
}

.home-menu {
  color: var(--text-colour-light);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-link {
  color: var(--text-colour-light);
  font-family: "Poppins", sans-serif;
}

.contact-menu {
  margin: 0 auto;
  padding: 30px 30px;
  size: 50px;
}
